{% extends 'base.html' %}
{% load static %}

{% block stylefile %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock stylefile %}

{% block content %}

<h2 class='page-title'>Menu</h2>

<p>Welcome to Delights Inventory, your go-to destination for all things culinary. Our website is dedicated to bringing you the latest and greatest in the world of food and drink. From mouthwatering recipes to expert cooking tips and tricks, we have everything you need to up your culinary game. Whether you're a seasoned pro or just starting out in the kitchen, Delights Inventory has something for everyone. So why wait? Start exploring our site today and discover all the delicious possibilities waiting for you!</p>
<br>
<p><a href="{% url 'inventory' %}">Inventory</a></p>
<p><a href="{% url 'purchase' %}">Purchase</a></p>
<p><a href="{% url 'menu' %}">Recipes</a></p>
<p><a href="{% url 'report' %}">Report</a></p>



{% endblock %}
