{% extends 'base.html' %}
{% load static %}
{% block stylefile %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock stylefile %}


{% block content %}

<h2 class='page-title'>Inventory</h2>

<table id="inventory">
    <tr>
        <th>Ingridient</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price Per Unit</th>
    </tr>
    {% for ingredient in object_list %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.price_unit }}</td>
    </tr>    
    {% endfor %}
   
</table>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati beatae ipsa expedita error at. Fugit ad at est reprehenderit, eligendi quaerat quidem sequi ipsa cum maiores dignissimos illum architecto</p>
{% endblock %}
