{% extends 'base.html' %}
{% load static %}
{% block stylefile %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock stylefile %}


{% block content %}

<h2 class='page-title'>Inventory</h2>

<form method="POST" class="form">
    {% csrf_token %}
    {{ formEdit.as_p }}
    <button type="submit">Submit</button>
</form>

<table id="inventory">
    <tr>
        <th>Ingridient</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price Per Unit</th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td><a href="{{ ingredient.id }}">{{ ingredient.name }}</a></td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
        <td class='delete'>
            {{ ingredient.price_unit }} 
            <form method="POST" class="form" action="{% url 'delete_item' ingredient.id %}">
                {% csrf_token %}             
                <button type="submit" value={{ingredient.id}}>Delete</button>
            </form>         
             
              
    </tr>    
    {% endfor %}
   
</table>

<div>
    
</div>
<p class="footer">At our company, we are committed to sourcing the highest quality ingredients for our products. Our ingredients are carefully selected from local and organic farms to ensure that they meet our strict standards for taste and nutrition. We believe that using the freshest and most natural ingredients results in better-tasting and healthier products. We pride ourselves on our transparency and are happy to share the sources of our ingredients with our customers. Thank you for choosing our ingredients in your cooking, We hope you enjoy them as much as we do!</p>


{% endblock %}
